<div style="display: block; position: relative; width: 700px; height: 500px; ">
	<canvas id="gameUICanvas" class="canvas-display" width=700 height=500 style="display:block; position: absolute; width:700px; height:500px; overflow: hidden; background: transparent; z-index:2; pointer-events: none"></canvas>
	<canvas id="gameCanvas" class="canvas-display" width=700 height=500 style="display:block; position: absolute; width:700px; height:500px; overflow: hidden; background:#000; z-index:1"></canvas>
	<svg id="gameSVG"></svg>
</div>
<div id="instructions">
	<p><%= data.instructions %></p>
</div>
<div class="game-controls">
	<div class="control">
		<p><a href="#" id="play"><%= data.labels.play %></a>
	</div>
	<div class="control">
		<p><a href="#" id="stop"><%= data.labels.stop %></a>
	</div>
	<div class="control">
		<p><a href="#" id="step-forward"><%= data.labels.stepForward %></a>
	</div>
	<div class="control">
		<p><a href="#" id="step-backward"><%= data.labels.stepBackward %></a>
	</div>
	<div class="control">
		<p><a href="#" id="toggle-debug"><%= data.labels.toggleDebug %></a>
	</div>
	<div class="control">
		<p><a href="#" id="toggle-skins"><%= data.labels.toggleSkins %></a>
	</div>
	<div class="control">
		<p><a href="#" id="pan-left"><%= data.labels.panLeft %></a>
	</div>
	<div class="control">
		<p><a href="#" id="pan-right"><%= data.labels.panRight %></a>
	</div>
</div>
<div id="challenge">
	<p><%= data.challenge %></p>
	<p><a href="#" id="close-challenge"><%= data.close %></a></p>
</div>