// COLORS
$skyblue: #38B0DE;
$moss: #6B8E23;
$gold: #CFB52B;

// FONTS
@import url(http://fonts.googleapis.com/css?family=Copse|Oxygen:300);

$fontTitle: 'Copse', serif;
$fontBody: 'Oxygen', sans-serif;

$fontColor: #333;

// ANCHORS
$aDefault: $skyblue;
$aVisited: #FFF;
$aHover: #FFF;

// CONTAINERS 
$bgColor: #FFF;


