
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

/*@import url("http://fonts.googleapis.com/css?family=Quicksand");*/
/*@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);*/
@import url(http://fonts.googleapis.com/css?family=Merienda:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.common {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.common-a {
  text-decoration: none;
  color: #000;
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  text-align: left; 
  background: #FFF; 
  height: 20px;
  width: 250px;
  pointer-events: auto;
}

.common-a-hover {
  background: #FFF; 
  text-align: left; 
  height: 20px;
  width: 250px;
}

.common-a-visited {
  background: #FFF; 
  height: 20px;
  width: 250px;
  text-align: left; 
}

body {
  font-family: 'Open Sans Condensed';
  background-color: #faf9f0;
  color: #444;
  text-align: center;
  .common;
}

header {
  font-family: 'Merienda';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}

h4 {
  font-family: 'Merienda';
  font-size: 18px;
  font-weight: bold;
  .common;
}

p {
  .common;
}


ul {
  list-style-type: none;
}


.sprite-a {
  color: #333;
  font-size: 16px;
  display: block;
  position: relative;
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  text-align: center;
  background: url("../../imgs/ui/uiSpriteSheet.png") no-repeat -13px -23px;
  width: 163px;
  height: 30px;
  text-decoration: none;
}

.sprite-a-hover {
  background: url("../../imgs/ui/uiSpriteSheet.png") no-repeat -13px -64px;
  color: #adadad;
}

.sprite-a-visited {
  background: url("../../imgs/ui/uiSpriteSheet.png") no-repeat -13px -23px;
}

a {
  .sprite-a;
}

a:hover {
  .sprite-a-hover;
};

a:visited {
  .sprite-a-visited;
};


#container { 
  margin: 0 auto;
  width: 900px;
  overflow: hidden;
  text-align: left;
  background-color: #FFF;
  padding-left: 20px;
  padding-right: 20px;

  #nav {
    .common;
    width: 900px;
    height: 50px;

    h2 {
      font-family: 'Open Sans Condensed';
      font-size: 18px;
    }
    
    p {
      font-family: 'Open Sans Condensed';
      margin-bottom: 20px;
      line-height: 16px;
    }

    li {
      display: block;
      position: relative;
      float: left;
      width: 160px;
      height: 36px;
      margin-left: 20px;

    }
  }

  #page {
    .common;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .game-controls {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0px;
      left: 700px;
    }

    #challenge {
      display: block;
      position: absolute;
      margin: 0;
      padding: 20px;
      top: 0px;
      left: 700px;
      width: 450px;
      height: 400px;
      z-index: 3;
      opacity: 0;
      background: #FFF; 
      pointer-events: none;
      z-index: 99;

      a {
        .common-a; 
      }

      a:hover {
       .common-a-hover; 
      };

      a:visited {
        .common-a-visited; 
      };

    }

    #demos {

      ul {
        list-style-type: none;

        li {
          display: block;
          position: relative;
          width:300px;
          overflow: hidden;
        }
      }

      a {
        .common-a; 
        height: 100%;
      }

      a:hover {
       .common-a-hover; 
       height: 100%;
      };

      a:visited {
        .common-a-visited; 
        height: 100%;
      };

    }

  }

  #footer {
    .common;
  }
}