*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

#wrap
{
    min-height: 100%;
}

#main
{
    /*overflow: auto;*/
    padding-bottom: 40px;
}

#footer
{
    /*background-color: #eef;*/
    clear: both;
    height: 40px;
    margin-top: -40px;
    position: relative;
}

body:before
{
    content: "";
    float: left;
    height: 100%;
    margin-top: -32767px;
    width: 0;
}

/* end sticky footer */

.contained-content
{
    margin: 0 auto;
    width: 900px;
}

body,#page,caption,th,td,input,textarea,select,option,legend,fieldset
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    /*line-height: 16px;*/
    color: #333333;
}

pre,code
{
	font-family: "Bitstream Vera Sans Mono","Courier New",monospace;
	font-size: 1.1em;
}

.toggleDivContent {
    display:none;
}

#header h1
{
	float: left;
}

#divider
{
	background: #fff;
	height: 35px;
	margin: 0 0;
	padding: 0;
	position: relative;
}
#divider-tag
{
	margin: 0 auto;
	padding: 0;
	width: 900px;
}
#divider-tag:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#divider-tag h1,#divider-tag h2
{
	font-size: 19px;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	padding: 0;
}
#divider-tag h1
{
	color: #fff;
	float: left;
	margin-right: 12px;
}
#divider h2
{
	background: transparent url(/image/band2.png) 0 0 no-repeat;
	color: #eee;
	float: left;
	overflow: hidden;
	padding-left: 17px;
	width: 650px;
}

.iforce2d-large
{
    font-size:20px;
    padding:2px;
    margin-left:16px;
}

.graybg
{
    background-color:#eee;
}

.graybg2
{
    background-color:#dfdfdf;
}

#loggingin
{
    float:right;
    text-align:right;
    line-height:20px;
    /*padding:4px 4px 10px 10px;*/
}

#loginstatus
{
    float:right;
    text-align:right;
    line-height:20px;
    /*padding:4px 4px 10px 10px;*/
}

#loginform
{
    float:right;
    text-align:right;
    line-height:20px;
    /*padding:4px 4px 10px 10px;*/
}

#loginform input
{
    width:100px;    
}

.user
{
    color:#806;
}

#sectionmenubar
{
    padding:5px 8px 8px 8px;
}

.sectionpanel
{
    padding-top: 16px;
}

.inner-contained-content
{
    margin: 0 auto;
    width: 840px;
}

ul
{
    padding:8px;    
    padding-left:32px;
}

.initially-hidden {
    display:none;
}

.button-active
{
    /*background-color: #ebe6f8;*/
    color: #3a3a3a;
    background-color: #cccccc;
}

.failed-text
{
    color:#f00;
}

.ng-text
{
    color:#f00;
}

.ok-text
{
    color:#274e13;
}

.ajax-loading
{
    line-height:16px;
}

.vmid
{
    vertical-align:middle;
}

table,th,td
{
    border:1px solid black;
    border-collapse:collapse;
}

th
{
    background-color:#eee;
    text-align:center;
    padding:2px 6px 2px 6px;
}

td
{
    text-align:center;
    padding:4px;
}

.build-started
{
    color:#274e13;
    background-color:#fff8e3;
}

.build-completed
{
    color:#274e13;
    background-color:#e6eae5;
}

.build-error
{
    color:#9e0b0b;
    background-color:#f4e2e2;
}

.releasenotes-contained-content
{
    margin: 0 auto;
    width: 790px;
}

.rnotes-version
{
    width:64px;
}

.rnotes-category
{
    width:64px;
}

.rnotes-details
{
    width:480px;
}

.features-list
{
    width:350px;
    text-align:left;
    vertical-align:top;
    border:1px solid #dddddd;
}

.features-description
{
    width:480px;
    text-align:left;
    vertical-align:top;
    border:1px solid #dddddd;
}

.rnotes-date
{
    
}

.tal
{
    text-align:left;
}

.rnote-1 /* comment */
{
    background-color:#eff9ef;
}

.rnote-2 /* addition */
{
    background-color:#cfcff9;
}

.rnote-3 /* improvement */
{
    background-color:#e5e5f9;
}

.rnote-4 /* bugfix */
{
    background-color:#f9e0e0;
}

.rnote-5 /* other */
{
    background-color:#e8e8e8;
}

.rnote-version-break
{
    padding:1px;
    background-color:#cccccc;
    font-weight:bold;
}

.center
{
    text-align:center;
    margin:auto;
}

.smalltext
{
    font-size:0.8em;
}

.palegray
{
    background-color:#efefef;
}

.hw
{
    max-width:600px;
    margin:8px;
    padding:8px;
}

.ppimg_off {
  border: none;
  display: inline-block;
  text-indent: -3000px;
  background: url(/image/btn_dg_pay_w_paypal_gray.gif) no-repeat 50% 50%;
  width: 150px;
  height: 33px;
}

input.ppimg_on {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-indent: -3000px;
  background: url(/image/btn_dg_pay_w_paypal.gif) no-repeat 50% 50%;
  width: 150px;
  height: 33px;
}

label.myAlign {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input.myAlign {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.rube_mainheader {
    background: url(../images/rube_header_gradient.png);
    background-repeat:repeat-x;
}

.rube_mainfooter {
    line-height:40px;
    background: url(../images/rube_footer_gradient.png);
    background-repeat:repeat-x;
}

.rube_loginbg {
    background-color:#cccccc;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:6px;
}

.roundcorners8 {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -khtml-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.rube_logo_header
{
    margin-left:10px;
}

.buttonize-links a
{
    color: #3a3a3a;
    margin:0;
    padding:4px 8px 4px 8px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
}

.buttonize-links a:hover {
    color: #990066;
    background-color: #cccccc;
}

.buttonize-links2 a
{
    color: #3a3a3a;
    margin:0;
    padding:4px 8px 4px 8px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
}

.buttonize-links2 a:hover {
    color: #990066;
    background-color: #dfdfdf;
}

.buttonize-links3 a
{
    color: #990066;
    margin:0;
    padding:4px 8px 4px 8px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
}

.buttonize-links3 a:hover {
    color: #990066;
    background-color: #dfdfdf;
}

a {
    color: #990066;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    color: #3a3a3a;
}

h3 {
    color:#666666;
    font-size:16px;
}

.reallyuseful {
    margin-right:10px;
    color:#1a1a1a;
    font-size:20px;
}

.poweredby {
    color:#888888;
    font-size:16px;
}

#poweredbydiv {
    /*float:right;*/
    position: relative;
    left: 590px;
    top: -28px;
}

img.ss {
    display:block;
    margin:auto;
    margin-top:4px;
    margin-bottom:4px;
}